body {
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
body, div.container, div.contents, div.top.nav {
    background-color: #E8FFCF;
}
a, a.page:hover, a:hover, a:visited, ul.news a.button span.name {
    color: #197116;
}
blockquote {
    color: black;
}